css 
    .Titulo-principal {
      color: crimson;
    }

    th { 
      color: blue; font-size: 20px;font-weight: bolder;
      
      /* poner tipo de letra y tamaño*/
     }
     
     body{
      background-color: cyan;
     }
     nav{
      background-color: darkslategrey;
      /*sacar las viñetas y expandir color*/
     }
     div{
      background-color: darkorchid;width: 33%;
     }
  


